%p#notice= notice

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path

%h1 Caption:
%p= @task.caption
%h2 Responsible person
%p= @task.user.full_name
%h3 Description
%p= @task.description
